
mat-card-title {
  font-weight: bold;
}

mat-card-header {
  height: 30px;
  margin-bottom: 20px;
}

.today-icon {
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.day-container {
  height: 100%;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.day-name {
  margin-bottom: 5px;
}

.day-number {
  font-size: 25px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 5px;
  border: 1px solid white;
}

.weekend-day {
  color: grey;
}

.selected-day {
  background-color: orange;
  color: white;
}

.today {
  border: 1px solid orange;
}

.start-time {
  height: 18px;
}

.status-icon {
  font-size: 10px;
  color: grey;
}

.rejected {
  color: red;
}

.approved {
  color: green;
}

.empty {
  display: none;
}
