<mat-card-header>
  <mat-card-title>{{getTitleDate()}}</mat-card-title>
  <a class="today-icon" matTooltip="Go to today" (click)="goToToday()"><mat-icon>calendar_today</mat-icon></a>
</mat-card-header>
<mat-card-content>
  <mat-grid-list cols="7" rowHeight="110px">
    <mat-grid-tile matTooltip="Click to select" *ngFor="let day of displayDays">
      <div class="day-container" (click)="selectedDayChanged(day);" >
        <div class="day-name">
          {{getShortWeekdayName(day)}}
        </div>
        <div class="day-number"
             [ngClass]="{ 'selected-day': day === selectedDay, 'today': day === today, 'weekend-day' : isWeekendDay(day) }">
          {{day.date.getDate()}}
        </div>
        <div class="start-time">
          {{getFirstEventStartTime(day)}}
        </div>
        <div class="status">
          <mat-icon class="status-icon"
                    [ngClass]='getDayStatus(day)'>fiber_manual_record</mat-icon>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card-content>
