.layout {
  height: 600px;
  width: 350px;
  margin-left: 20px;
}


.add-button {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: orange;
}

.hours-header {
  height: 35px;
  font-size: 25px;
}
