<mat-card *ngIf="displayDays.length" class="layout">
  <app-days-area [displayDays]="displayDays" (dayChanged)="onSelectedDayChanged($event)"></app-days-area>
  <mat-divider></mat-divider>
  <app-day-details [selectedDay]="selectedDay"></app-day-details>
  <mat-card-actions>
    <button class="add-button" mat-raised-button routerLink="add-task">ADD TASK</button>
  </mat-card-actions>
</mat-card>
