<mat-card-content>
  <div class="hours-header">
    <mat-icon>access_time</mat-icon> Hours <span>8:00-16:00</span>
  </div>

  <div *ngFor="let event of getHourEventTypes()">
    {{event.eventType}} {{event.firstTaskStart - event.lastTaskEnd }}
  </div>
</mat-card-content>
